@page "/"
@namespace Vocab.Ui.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vocab</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/css/materialize/materialize.min.css" />
    <link rel="stylesheet" href="css/materialize/icon.css">
    <link href="css/site.css" rel="stylesheet" />
    <link href="Vocab.Ui.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="~/js/materialize/materialize.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
