@page "/"

@if (isPageLoaded)
{
    <div style="width: 30%; margin: 200px 35% 200px 35%; text-align: center">
        <div class="row">
            <div class="col s4">
                <a class="waves-effect waves-light btn-large" href="play">Play</a>
            </div>
            <div class="col s4">
                <a class="waves-effect waves-light btn-large" href="manage">Manage</a>
            </div>
            <div class="col s4">
                <a class="waves-effect waves-light btn-large" href="learn">Learn</a>
            </div>
        </div>
    </div>
}

@code {

    private bool isPageLoaded = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        isPageLoaded = true;
        StateHasChanged();
    }

}