@page "/"

@if (isPageLoaded)
{
    <div class="main-container">

    </div>
}

@code {

    private bool isPageLoaded = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        isPageLoaded = true;
        StateHasChanged();
    }

}