<div style="width: 40%; margin: 200px 30% 200px 30%; text-align: center">
    <div class="row">
        <div class="col s4">
            <a class="waves-effect waves-light btn-large" href="play">Play <i class="material-icons">translate</i></a>
        </div>
        <div class="col s4">
            <a class="waves-effect waves-light btn-large" href="manage">Manage <i class="material-icons">settings</i></a>
        </div>
        <div class="col s4">
            <a class="waves-effect waves-light btn-large" href="learn">Learn <i class="material-icons">school</i></a>
        </div>
    </div>
</div>