@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<nav style="padding: 0 15px 0 15px;">
    <div class="nav-wrapper">
        <a href="" class="brand-logo">Vocab</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Home</a></li>
            <li><a href="play">Play</a></li>
            <li><a href="manage">Manage</a></li>
            <li><a href="learn">Learn</a></li>
        </ul>
    </div>
</nav>
<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    private bool isDrawerOpen = false;
    private List<Category> categories = new List<Category>();

    private string barBackgroundStyle = $"background-color: {AppTheme.Primary}";
    private string drawerBackgroundStyle = $"background-color: {AppTheme.Primary}";
    private string drawerForegroundStyle = $"color: {AppTheme.TextOnPrimary}";

    private void OnDrawerItemClick(string route)
    {
        isDrawerOpen = false;
        NavigationManager.NavigateTo(route);
    }

    private void OnMenuClick()
    {
        isDrawerOpen = !isDrawerOpen;
    }

}