th, td {
    padding: 10px 20px 10px 20px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

tbody {
    display: block;
    overflow-y: scroll;
}

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

thead {
    width: calc(100% - 1em);
}

table {
    width: 100%;
}
