@import '@angular/material/theming';
@include mat-core();

$vocab-primary-light: mat-palette($mat-indigo);
$vocab-accent-light: mat-palette($mat-light-green);
$vocab-theme-light: mat-light-theme($vocab-primary-light, $vocab-accent-light);

$vocab-primary-dark: mat-palette($mat-purple);
$vocab-accent-dark: mat-palette($mat-light-green);
$vocab-theme-dark: mat-dark-theme($vocab-primary-dark, $vocab-accent-dark);

.theme-light {
    @include angular-material-theme($vocab-theme-light);
}

.theme-dark {
    @include angular-material-theme($vocab-theme-dark);

    .mat-option.mat-selected {
        color: mat-color(mat-palette($mat-light-green)) !important
    }

    .button-success:enabled {
        color: mat-color(mat-palette($mat-light-green));
    }
}