<div class="main-container">
    <div class="row">
        <div class="col s8" style="padding: 30px;">
            <WordSection @ref="_wordSection" OnCategoryReloadRequest="RefreshCategorySection"></WordSection>
        </div>
        <div class="col s4" style="padding: 30px;">
            <CategorySection @ref="_categorySection" OnCategoryReloadRequest="RefreshWordSection"></CategorySection>
        </div>
    </div>
</div>