<div fxLayout="row" fxLayoutAlign="space-between" [ngStyle]="{ 'display': isReady ? 'flex' : 'none' }">
    <div fxLayout="row" fxLayoutAlign="start">
        <mat-form-field class="spaced-field">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="filters.search" (ngModelChange)="onFilterChange()" placeholder="search..."
                spellcheck="false" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="spaced-field">
            <mat-label>Importancy</mat-label>
            <mat-select [(ngModel)]="filters.importancy" (ngModelChange)="onFilterChange()">
                <mat-option *ngFor="let levelFilter of importancyLevelsFilters" [value]="levelFilter.value">
                    {{levelFilter.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button style="height: 40px; margin: 8px 10px 4px 20px;" (click)="onClearSearchClick()"
            [disabled]="!isFiltersModified()">Clear</button>
        <button mat-raised-button color="basic" style="height: 40px; margin: 8px 10px 4px 20px;"
            (click)="onSearchClick()" [disabled]="isLoading">Load data</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="end">
        <mat-form-field class="spaced-field">
            <mat-label>Key</mat-label>
            <input matInput [(ngModel)]="wordCreate.key" (keyup.enter)="onEnterAddKeyPress()" spellcheck="false"
                autocomplete="off" #inputCreateKey>
        </mat-form-field>
        <mat-form-field class="spaced-field">
            <mat-label>Value</mat-label>
            <input matInput [(ngModel)]="wordCreate.value" (keyup.enter)="onEnterAddKeyPress()" spellcheck="false"
                autocomplete="off">
        </mat-form-field>
        <mat-form-field class="spaced-field">
            <mat-label>Notes</mat-label>
            <input matInput [(ngModel)]="wordCreate.notes" (keyup.enter)="onEnterAddKeyPress()" spellcheck="false"
                autocomplete="off">
        </mat-form-field>
        <mat-form-field class="spaced-field">
            <mat-label>Importancy</mat-label>
            <mat-select [(ngModel)]="wordCreate.importancy">
                <mat-option *ngFor="let level of importancyLevels" [value]="level.value">
                    {{level.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button style="height: 40px; margin: 8px 10px 4px 20px;" (click)="onClearAddClick()"
            [disabled]="!isWordCreateModified()">Cancel</button>
        <button mat-raised-button color="primary" style="height: 40px; margin: 8px 0 4px 20px" (click)="onAddClick()"
            [disabled]="!isWordCreateValid()">Add word</button>
    </div>
</div>
<div class="table-container mat-elevation-z8" style="margin-top: 10px;"
    [ngStyle]="{ 'display': isReady ? 'block' : 'none' }">
    <table mat-table [dataSource]="dataSource" matSort fixedLayout>
        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Key</th>
            <td mat-cell *matCellDef="let row">
                <mat-form-field class="no-underline">
                    <input type="text" matInput [(ngModel)]="row.word.key" (ngModelChange)="onRowChange(row)"
                        spellcheck="false" autocomplete="off" [ngClass]="{ 'text-edition': row.isModified}"
                        (keyup.enter)="onEnterSaveKeyPress(row)" (keyup.escape)="onResetClick(row)">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
            <td mat-cell *matCellDef="let row">
                <mat-form-field class="no-underline">
                    <input type="text" matInput [(ngModel)]="row.word.value" (ngModelChange)="onRowChange(row)"
                        spellcheck="false" autocomplete="off" [ngClass]="{ 'text-edition': row.isModified}"
                        (keyup.enter)="onEnterSaveKeyPress(row)" (keyup.escape)="onResetClick(row)">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef>Notes</th>th>
            <td mat-cell *matCellDef="let row">
                <mat-form-field class="no-underline">
                    <input type="text" matInput [(ngModel)]="row.word.notes" (ngModelChange)="onRowChange(row)"
                        spellcheck="false" autocomplete="off" [ngClass]="{ 'text-edition': row.isModified}"
                        (keyup.enter)="onEnterSaveKeyPress(row)" (keyup.escape)="onResetClick(row)">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="importancy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Importancy</th>th>
            <td mat-cell *matCellDef="let row">
                <mat-form-field>
                    <mat-select [(ngModel)]="row.word.importancy" (ngModelChange)="onRowChange(row)"
                        [ngClass]="{ 'text-edition': row.isModified}" color="accent">
                        <mat-option *ngFor="let level of importancyLevels" [value]="level.value"
                            [ngClass]="{ 'text-edition': row.isModified}" color="accent">
                            {{level.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row; let i = index">
                <div fxLayout="row" fxLayoutAlign="end">
                    <button class="spaced-field" mat-button (click)="onResetClick(row)"
                        [disabled]="!row.isModified">Cancel</button>
                    <button class="spaced-field button-success" mat-button (click)="onSaveClick(row)"
                        [disabled]="!row.isModified || !isWordValid(row.word)">Save</button>
                    <button class="spaced-field" color="warn" mat-button (click)="onDeleteClick(row)">Delete</button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let word; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell hint-info" colspan="4">No data</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20, 30]" showFirstLastButtons class="paginator-sticky"></mat-paginator>
</div>