@if (_isComponentLoaded)
{
<div id="modal_word_bulk_add" class="modal modal-fixed-footer" style="width: 700px; height: 600px;">
    <div class="modal-content">
        <h4>Add words</h4>
        <div style="height: 40px;"></div>
        <div class="row">
            <EditForm Model="_editWord" OnValidSubmit="OnAddClick">
                <div class="col s3">
                    <input placeholder="Key" id="bulk_word_key" type="text" class="validate" @bind="_editWord.KeyWord" autocomplete="off">
                </div>
                <div class="col s3">
                    <input placeholder="Value" id="bulk_word_value" type="text" class="validate" @bind="_editWord.ValueWord" autocomplete="off">
                </div>
                <div class="col s3">
                    <input placeholder="Categories" id="bulk_word_categories" type="text" class="validate" @bind="_editWordCategoryInput" autocomplete="off">
                </div>
                <div class="col s3" style="text-align: right;">
                    <button class="waves-effect waves-light btn-flat" type="submit"><i class="large material-icons">add</i></button>
                </div>
            </EditForm>
        </div>
        <div class="list-content">
            @foreach (var word in _words)
            {
                <div class="row" style="margin-bottom: 0;">
                    <div class="col s3">
                        @(word.Word.KeyWord)
                    </div>
                    <div class="col s3">
                        @(word.Word.ValueWord)
                    </div>
                    <div class="col s3">
                        Categories: @(word.Categories.Count())
                    </div>
                    <div class="col s3" style="text-align: right;">
                        <button class="waves-effect waves-light btn-flat" @onclick="() => OnDeleteClick(word.Word.Id)"><i class="large material-icons">clear</i></button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-close waves-effect waves-purple btn-flat" @onclick="OnResetClick">Back</button>
        <button class="modal-close waves-effect btn" @onclick="OnSaveClick">Save<i class="material-icons right">save</i></button>
    </div>
</div>
}