.list-content {
    padding: 20px 0 20px 0;
    overflow-y: scroll;
    height: 65%;
}

.list-categories {
    overflow-y: scroll;
    height: 100%;
}

.list-content > .row > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-content::-webkit-scrollbar {
    display: none;
}