* {
    outline: none !important;
}

body {
    margin: 0;
}

.dropdown-content {
    max-height: 400px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.table-line, .select-dropdown {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}